.Applight {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
}

.Appdark {
  display: flex;
  flex-direction: column;
  background-color: #171321;
  width: 100%;
}

.main-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px);
  flex-direction: column;
}

.section-profile-container {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 420px) {
  .main-container {
    display: flex;
    width: 100%;
    height: calc(100vh);
    flex-direction: column;
  }
}
